* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-main {
  display: flex;
  height: 50px;
  background-color: #192e49;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.navbar-main p {
  color: white;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
.home {
  display: flex;
  gap: 5px;
}
.icon img {
  height: 40px;
  width: 40px;
}
.login {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.login img {
  height: 20px;
  width: 20px;
}
.cart {
  display: flex;
  gap: 5px;
}
.imageform {
  width: 20px;
  height: 20px;
}
.form-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.student-list img {
  width: 20px;
  height: 20px;
}
.student-list {
  display: flex;
  gap: 5px;
}
